/* Estilos para a seção "descricao-empresa" */
.descricao-empresa {
        width: 940px;
        margin: 0 auto;
        padding: 20px;
        background-color: #E1EDF2;
    }
    
    .descricao-empresa__content {
        background-color: white;
        border: 1px solid lightgrey;
        padding: 15px;
        margin: 20px;
    }
    
    .descricao-empresa__text {
        color: #3D3D3D;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 15px;
    }
    
    .descricao-empresa__matriz-musicdot {
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        background-color: whitesmoke;
        border: 1px solid lightgrey;
    }
    
    .descricao-empresa__matriz-musicdot img {
        max-width: 100%;
    }
    
    /* Estilos para a seção "historia-empresa" */
    .historia-empresa__title {
        font-size: 28px;
        margin-top: 40px;
        color: #3D3D3D;
    }
    
    .historia-empresa__text {
        font-size: 16px;
        line-height: 1.6;
        color: #3D3D3D;
        margin-top: 15px;
    }
    
    .familia-tupfeln img {
        max-width: 100%;
        display: block;
        margin: 20px auto;
    }
    
    /* Estilos para a seção "diferenciais-empresa" */
    .diferenciais-empresa__subtitulo {
        font-size: 24px;
        margin-top: 40px;
        color: #3D3D3D;
    }
    
    .diferenciais-empresa__list {
        list-style: disc;
        margin-left: 20px;
        font-size: 16px;
        color: #3D3D3D;
        line-height: 1.6;
        margin-top: 15px;
    }
    
    /* Estilos para o footer */
    .contato__subtitulo {
        display: inline;
        }
        .contato__secao {
         display: inline-block;
         vertical-align: top;
         margin-left: 16px;
        }
        
        .contato__secao--telefone {
         margin-left: 32px;
        }
        
        .contato__info {
        margin: 16px 0 24px;
        padding-left: 32px;
        }
        .contato__info-titulo,
        .contato__info-descricao {
        display: inline;
        }
        .contato__info-descricao {
        margin-left: 10px;
        }